:root {
  --primary-color: #0ad3dade;
  --secondary-color: #053d6e;
  --h1-background: #f0ffff;  
  --medium-screen-color: #afaff1; 
  --small-screen-color: #397ef6b0; 

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > h1 {
  padding: 5px 20px 5px 100px;
  background-color: var(--h1-background);
}

nav {
  margin-right: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

nav a {
  padding-left: 25px;
}

.hero-banner{
  display: flex;
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
  height: 180px;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 20px; 
}

.hero-banner h2 {
  background-color: var(--h1-background);
  font-size: 40px;
  font-weight: 70;   
  font-style: italic;
  padding: 0px 20px 0px 20px;
  margin-bottom: 15px;
  margin-right: 50px;
}

.container{
  margin: 0px 5%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr 3fr 1fr;
  min-height: 500px;
  height: 70vh;
  gap: 40px;
}

.page-section {
  bottom: 20px;
}

.page-section h2 {
  margin-right: 20px;
  font-size: 60px;
  text-align: right;
  color: var(--secondary-color);
  top: -70px;
  position: relative;
  }

#about {
  border-right: solid var(--secondary-color);
}

#work {
  border-right: solid var(--secondary-color);
}

#contact {
  border-right: solid var(--secondary-color);
}

.work-grid {
  background-size: cover;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
  border: thick solid var(--primary-color);
}

.work-grid h4 {
  background-color: var(--primary-color);
  position: relative;
  bottom: -10px;
  font-size: 26px;
  max-width: fit-content;
  padding: 5px;
}

.work-grid a {
  text-decoration: none;
  color: black;
}

#work-grid-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 200px 200px;
  grid-template-areas: 
  "surfers surfers"
  "ideas tech"
  "canvas runners";
}

.work-grid:hover {
  opacity: 0.3;
}

#surfers{
  grid-area: surfers;
  background-image: url(../images/02-portfolio-4.jpg)
}

#ideas{
  grid-area: ideas;
  background-image: url(../images/02-portfolio-1.jpg);
}

#tech{
  grid-area: tech;
  background-image: url(../images/02-portfolio-2.jpg);
}

#canvas{
grid-area: canvas;
background-image: url(../images/02-portfolio-3.jpg);
}

#runners{
grid-area: runners;
background-image: url(../images/02-run-buddy.jpg);
}

#social {
display: flex;
align-items: center;
justify-content: space-around  ;
}

@media screen and (max-width: 1200px) {
header {
  background-color:#afaff1;
}

p {
  font-size: 12px;
}

main {
  max-width: 1200px;
  gap: 30px;
} 

.page-section h2 {
  position: relative;
  top: -40px;
  font-size: 30px;
}

.work-grid {
  border-color: var(--medium-screen-color);
}

.work-grid h4 {
  background-color: var(--medium-screen-color);
}

@media screen and (max-width: 800px) {
  p {
    font-size: 10px;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#397ef6b0;
  }

  header > h1 {
    padding: 0px 60px 0px 60px;
   }

  main {
    max-width: 600px; 
    gap: 20px;
  } 

  .hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .hero-banner h2 {
    margin: 0;
    padding: 0 5px 0 5px;
  }

  .page-section h2 {
    position: relative;
    top: -30px;
    font-size: 30px;
  }

  .work-grid {
    border-color: var(--small-screen-color);
  }

  .work-grid h4 {
    background-color: var(--small-screen-color);
  }
  